body {
  background: #353638;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

header #logo {
  background: url(../assets/Logo-modo-noc.svg) no-repeat;
  margin: 20px 0 0 0;
  width: 100%;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header ul {
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
  height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header ul #mod {
  color: #fff;
  border: none;
  background: #353638;
  font-size: 13px;
  margin-top: 20px;
  margin-right: -40px;
  cursor: pointer;
  height: 30px;
  width: 200px;
}

header ul #cruz {
  width: 70px;
  height: 60px;
  margin-top: 0px;
  margin-left: 10px;
  cursor: pointer;
  background: url(../assets/CTA-crar-gifo-modo-noc.svg) no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

header li {
  margin: 20px;
  font-size: 13px;
  width: 70px;
  height: 20px;
}

header a {
  text-decoration: none;
  color: #fff;
}

#mod::before {
  content: "MODO DIURNO";
}

.menu-hamburguesa {
  display: none;
  position: relative;
  z-index: 90;
}

.icono-menu {
  position: absolute;
  left: 80%;
  top: -40px;
  z-index: 10;
}

.icono-menu img {
  vertical-align: top;
  width: 30px;
  cursor: pointer;
}

.cont-menu {
  background-color: black;
  opacity: 0.9;
  -webkit-box-shadow: 2px 0px 5px 2px #424242;
          box-shadow: 2px 0px 5px 2px #424242;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: -70px;
  left: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  margin-top: 100px;
}

.active {
  -webkit-transform: translate(-600px);
          transform: translate(-600px);
}

.opacity {
  -webkit-transition: all .0s ease;
  transition: all .0s ease;
}

.cont-menu ul {
  padding: 100px 0px 20px 0px;
  list-style: none;
  text-align: center;
  margin-top: -25px;
}

.cont-menu ul li {
  color: white;
  display: block;
  font-size: 25px;
  text-decoration: none;
  padding: 10px 50px;
  cursor: pointer;
  border-bottom: 1px solid white;
  margin: 30px;
}

.cont-menu ul li a {
  color: white;
  text-decoration: none;
}

.cont-menu ul li:hover {
  background-color: #e4e4e4;
  color: black;
}

.cont-menu ul li:hover a:hover {
  color: black;
}

#mod1 {
  color: #fff;
  border-bottom: 1px solid white;
  background: black;
  font-size: 22px;
  margin-top: 13px;
  margin-right: 0px;
  cursor: pointer;
  height: 30px;
  width: 66%;
}

#mod1::before {
  content: "MODO DIURNO";
}

#mod1:hover {
  background-color: white;
  color: black;
}

main {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 80px;
  margin-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.camara-luz {
  width: 250px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.camara-luz #camara {
  background: url(../assets/camara-modo-noc.svg) no-repeat;
  margin-top: 60px;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.camara-luz #luz {
  margin-left: -28px;
  background: url(../assets/element-luz-camara.svg) no-repeat;
  margin-top: 78px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cuadrado {
  width: 480px;
  height: 320px;
  border: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cuadrado #titulo {
  width: 300px;
  position: absolute;
  left: 100px;
  text-align: center;
}

.cuadrado #titulo h2 {
  color: white;
}

.cuadrado #titulo span {
  color: cyan;
}

.cuadrado #texto-grabar {
  color: white;
}

.grabar {
  width: 95%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.grabar #grabando {
  display: block;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grabar #grabando #cinta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  position: relative;
  top: 20px;
  left: 450px;
}

.grabar .spn {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  position: absolute;
  top: -20px;
  left: 480px;
}

.grabar .spn #sp {
  color: cyan;
  margin-left: 50px;
  font-size: 20px;
  border: 2px solid cyan;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  width: 30px;
  line-height: 30px;
  height: 30px;
}

.grabar .spn .spans {
  background-color: #6f00ff;
  color: honeydew !important;
}

.grabar #grabacion {
  display: none;
  position: absolute;
  z-index: 1;
}

.grabar #gif-iniciado {
  display: none;
  width: 480px;
  height: 320px;
  position: absolute;
  z-index: 2;
}

#cargando-texto {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

#cargando-texto #icon-loader {
  width: 30px;
  height: 30px;
}

#cargando-texto #video-p {
  font-weight: 500;
  font-size: 20px;
  line-height: 19px;
  color: white;
  margin: 10px 0;
}

#gif-terminado {
  display: none;
  width: 480px;
  height: 320px;
  position: absolute;
  z-index: 2;
}

#cargando {
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
  background: blue;
  opacity: 0.7;
  color: wheat;
  position: absolute;
  z-index: 3;
}

#cargando-video {
  display: none;
  position: absolute;
  top: 12px;
  right: 15px;
}

#cargando-video #btn-descargar {
  position: absolute;
  top: 0;
  right: 40px;
  width: 32px;
  height: 32px;
  border: none;
  margin: 0;
  cursor: pointer;
}

#cargando-video #btn-link {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  border: none;
  margin: 0;
  cursor: pointer;
}

#btn-comenzar {
  font-size: 10px;
  color: black;
  background: cyan;
  border: 2px solid white;
  border-radius: 30px;
  width: 90px;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 45px;
  margin-left: -170px;
}

#btn-comenzar:hover {
  background-color: blueviolet;
  color: white;
}

#btn-gifo {
  display: none;
  font-size: 10px;
  color: black;
  background: cyan;
  border: 2px solid white;
  border-radius: 30px;
  width: 90px;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 90px;
  margin-left: -170px;
}

#btn-gifo:hover {
  background-color: blueviolet;
  color: white;
}

#btn-grabar {
  display: none;
  font-size: 10px;
  color: black;
  background: cyan;
  border: 2px solid white;
  border-radius: 30px;
  width: 90px;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 90px;
  margin-left: -170px;
}

#btn-grabar:hover {
  background-color: blueviolet;
  color: white;
}

#btn-finalizar {
  display: none;
  font-size: 10px;
  color: black;
  background: cyan;
  border: 2px solid white;
  border-radius: 30px;
  width: 90px;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 90px;
  margin-left: -170px;
}

#btn-finalizar:hover {
  background-color: blueviolet;
  color: white;
}

.contador {
  position: absolute;
  left: 400px;
}

.contador #reloj {
  display: none;
  font-size: 17px;
  line-height: 20px;
  color: cyan;
}

.contador #repetir {
  display: none;
  border: none;
  border-bottom: 2px solid black;
  font-size: 12px;
  color: cyan;
  font-weight: bold;
  cursor: pointer;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 120px;
  font-size: 12px;
}

footer .contactos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .contactos div {
  margin-left: 5px;
  cursor: pointer;
}

footer .contactos #twitter {
  margin-top: 12px;
  min-height: 20px;
  min-width: 20px;
  background: url(../assets/icon-twitter.svg) no-repeat;
}

footer .contactos #face {
  margin-top: 10px;
  min-height: 20px;
  min-width: 20px;
  background: url(../assets/icon_facebook.svg) no-repeat;
}

footer .contactos #inst {
  margin-left: -4px;
  margin-top: 10px;
  min-height: 20px;
  min-width: 20px;
  background: url(../assets/icon_instagram.svg) no-repeat;
}

footer p {
  margin-left: auto;
  color: white;
}

footer #twitter:hover {
  background: url(../assets/icon-twitter-hover.svg) no-repeat;
}

footer #face:hover {
  background: url(../assets/icon_facebook_hover.svg) no-repeat;
}

footer #inst:hover {
  background: url(../assets/icon_instagram-hover.svg) no-repeat;
}

@media screen and (max-width: 1000px) {
  article .spn {
    margin-right: 150px;
  }
}

@media screen and (max-width: 600px) {
  body {
    width: 110%;
    border-bottom: none;
    border-top: none;
  }
  header {
    max-width: 70%;
  }
  #logo {
    height: 60px;
    position: relative;
    left: -30px;
  }
  .menu1 {
    display: none;
  }
  .menu-hamburguesa {
    display: block;
  }
  footer {
    width: 80%;
    padding: 30px;
  }
}
/*# sourceMappingURL=crear-gifoNoc.css.map */