body{
    width: 100%;
    height: 100%;    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-top: 4px solid rgb(111, 0, 255);
    border-bottom: 4px solid rgb(111, 0, 255);
    }
    header{
        display: flex;
        width: 100%;
        #logo{
        display: inline-block;
        width: 50px;
        margin: 0 100px;
        cursor: pointer;
        }
        ul{
        display: flex;
        list-style: none;
        height: 50px;
        margin-left: 250px;
            img{
            margin-left: 30px;
            cursor: pointer;
        }
        }
        li{
        margin: 20px;
        font-size: 13px;
        }
        a{
        text-decoration: none;
        color: rgb(111, 0, 255);
        }
    }
    main{
        max-width: 100%;
        height: 100%;
        display: flex;
       padding: 0 80px;
    }
    
    .cuadrado{
        width: 550px;
        height: 300px;
        border: 1px solid black;
        margin-right: auto;
        display: flex;
        
        .cuadrado1{
            margin: auto;
        }
        #cuadrado1{
            width: 20px;
            height: 20px;
            border: 2px solid cyan;
        
        }
        #cuadrado2{
            width: 20px;
            height: 20px;
            border: 2px solid cyan;
            margin-top: 220px;
            
        }
        .cuadrado2{
            margin: auto;
           
        }
        #cuadrado3{
            width: 20px;
            height: 20px;
            border: 2px solid cyan;
          
        
        }
        #cuadrado4{
            width: 20px;
            height: 20px;
            border: 2px solid cyan;
            margin-top: 220px;
           
        }
        #titulo{
            width: 300px;
         text-align: center;
         margin-top: 70px;
         margin-left: 20px;
        
        }
        p{
        text-align: center;
            
        }
    }

    footer{
        display: flex;
        padding: 10px 120px;
        font-size: 12px;
        .contactos{
        display: flex;
            div{
            margin-left: 5px;
            cursor: pointer;
            }
            #twitter{
            margin-top: 12px;
            min-height: 20px;
            min-width: 20px;
            background: url(../assets/icon-twitter.svg) no-repeat;
            }
            #face{
            margin-top: 10px;
            min-height: 20px;
            min-width: 20px;
            background: url(../assets/icon_facebook.svg) no-repeat;
            }
            #inst{
            margin-left: -4px;
            margin-top: 10px;
            min-height: 20px;
            min-width: 20px;
            background: url(../assets/icon_instagram.svg) no-repeat;
            }
        }
        p{
        margin-left: auto;
        }
        #twitter:hover{
        background: url(../assets/icon-twitter-hover.svg) no-repeat;
        }
        #face:hover{
        background: url(../assets/icon_facebook_hover.svg) no-repeat;
        }
        #inst:hover{
        background: url(../assets/icon_instagram-hover.svg) no-repeat;
        }
    }