body {
  background: #353638;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

header #logo {
  background: url(../assets/Logo-modo-noc.svg) no-repeat;
  display: inline-block;
  width: 80px;
  margin: 10px 90px;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  height: 50px;
  margin-left: 300px;
}

header ul #mod {
  color: #fff;
  border: none;
  background: #353638;
  font-size: 12px;
  margin-right: 42px;
  margin-top: 6px;
  cursor: pointer;
}

header ul #cruz {
  width: 70px;
  margin-bottom: -10px;
  margin-left: 30px;
  cursor: pointer;
  background: url(../assets/CTA-crar-gifo-modo-noc.svg) no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

header li {
  margin: 20px;
  font-size: 13px;
}

header a {
  text-decoration: none;
  color: #fff;
}

#mod::before {
  content: "MODO DIURNO";
}

.menu-hamburguesa {
  display: none;
}

.menu-hamburguesa {
  display: none;
}

.icono-menu {
  margin: 20px 300px;
  position: relative;
  top: -70px;
  left: 90px;
  z-index: 10;
}

.icono-menu img {
  vertical-align: top;
  width: 30px;
  cursor: pointer;
}

.cont-menu {
  background-color: black;
  opacity: 0.9;
  -webkit-box-shadow: 2px 0px 5px 2px #424242;
          box-shadow: 2px 0px 5px 2px #424242;
  width: 450px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  margin-top: 100px;
}

.active {
  -webkit-transform: translate(-600px);
          transform: translate(-600px);
}

.opacity {
  -webkit-transition: all .0s ease;
  transition: all .0s ease;
}

.cont-menu ul {
  padding: 100px 0px 20px 0px;
  list-style: none;
  text-align: center;
  margin-top: -25px;
}

.cont-menu ul button {
  border: none;
  font-size: 25px;
  background: black;
  color: white;
  border-bottom: 1px solid white;
  width: 87%;
  height: 45px;
}

.cont-menu ul li {
  color: white;
  display: block;
  font-size: 25px;
  text-decoration: none;
  padding: 10px 50px;
  cursor: pointer;
  border-bottom: 1px solid white;
  margin: 30px;
}

.cont-menu ul li a {
  color: white;
  text-decoration: none;
}

.cont-menu ul li:hover {
  background-color: #e4e4e4;
  color: #2a2a2a;
}

main {
  max-width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 80px;
}

.camara-luz {
  width: 250px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.camara-luz #camara {
  background: url(../assets/camara-modo-noc.svg) no-repeat;
  margin-top: 60px;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.camara-luz #luz {
  margin-left: -28px;
  background: url(../assets/element-luz-camara.svg) no-repeat;
  margin-top: 78px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cuadrado {
  width: 700px;
  height: 300px;
  border: 1px solid black;
  margin-right: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cuadrado .cuadrado1 {
  margin: auto;
}

.cuadrado #cuadrado1 {
  width: 20px;
  height: 20px;
  border: 2px solid cyan;
}

.cuadrado #cuadrado2 {
  width: 20px;
  height: 20px;
  border: 2px solid cyan;
  margin-top: 220px;
}

.cuadrado .cuadrado2 {
  margin: auto;
}

.cuadrado #cuadrado3 {
  width: 20px;
  height: 20px;
  border: 2px solid cyan;
}

.cuadrado #cuadrado4 {
  width: 20px;
  height: 20px;
  border: 2px solid cyan;
  margin-top: 220px;
}

.cuadrado #titulo {
  width: 300px;
  text-align: center;
  margin-top: 70px;
  margin-left: 20px;
}

.cuadrado p {
  text-align: center;
}

.grabar {
  width: 100%;
  height: 170px;
  display: inline-block;
}

.grabar .spn {
  width: 90%;
  text-align: center;
  padding: 10px;
  margin-left: 40px;
}

.grabar .spn #sp1, .grabar .spn #sp2, .grabar .spn #sp3 {
  color: #6f00ff;
  background: #fff;
  margin-left: 50px;
  font-size: 20px;
  border: 1px solid #6f00ff;
  border-radius: 30px;
  font-weight: bold;
  display: inline-block;
  width: 30px;
  line-height: 30px;
}

.grabar #barra {
  width: 600px;
  height: 5px;
  background: #6f00ff;
  margin-left: 240px;
  margin-top: -20px;
  border-radius: 5px;
}

.grabar #cinta {
  display: block;
  background: center url(../assets/pelicula-modo-noc.svg) no-repeat;
  margin-left: 750px;
  height: 100px;
  margin-top: -80px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 120px;
  font-size: 12px;
  color: #fff;
  background: #353638;
}

footer .contactos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .contactos div {
  margin-left: 5px;
  cursor: pointer;
}

footer .contactos #twitter {
  margin-top: 12px;
  min-height: 20px;
  min-width: 20px;
  background: url(../assets/icon-twitter.svg) no-repeat;
}

footer .contactos #face {
  margin-top: 10px;
  min-height: 20px;
  min-width: 20px;
  background: url(../assets/icon_facebook.svg) no-repeat;
}

footer .contactos #inst {
  margin-left: -4px;
  margin-top: 10px;
  min-height: 20px;
  min-width: 20px;
  background: url(../assets/icon_instagram.svg) no-repeat;
}

footer p {
  margin-left: auto;
}

footer #twitter:hover {
  background: url(../assets/icon-twitter-hover.svg) no-repeat;
}

footer #face:hover {
  background: url(../assets/icon_facebook_hover.svg) no-repeat;
}

footer #inst:hover {
  background: url(../assets/icon_instagram-hover.svg) no-repeat;
}

@media screen and (max-width: 600px) {
  body {
    max-width: 100%;
  }
  #logo {
    width: 30px;
    height: 60px;
    position: relative;
    left: -50px;
  }
  .menu1 {
    display: none;
  }
  .menu-hamburguesa {
    display: block;
  }
  footer {
    padding: 30px;
  }
}
/*# sourceMappingURL=crear-gifoNoc.css.map */