body{
width: 100%;
height: 100%;    
padding: 0;
margin: 0;
box-sizing: border-box;
border-top: 4px solid rgb(111, 0, 255);
border-bottom: 4px solid rgb(111, 0, 255);
}
header{
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: auto;
  #logo{
  background: url(../assets/logo-desktop.svg) no-repeat;
  margin: 20px 0 0 0;
  width: 100%;
  cursor: pointer;
  object-fit: cover;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  ul{
  margin-left: 10%;
  display: flex;
  list-style: none;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  #mod{
  color: rgb(111, 0, 255);
  border: none;
  background: #fff;
  font-size: 13px;
  margin-top: 20px;
  margin-right: -40px;
  cursor: pointer;
  height: 30px;
  width: 200px;
  }
  #cruz{
  width: 70px;
  height: 60px;
  margin-top: 0px;
  margin-left: 10px;
  cursor: pointer;
  background: url(../assets/button-crear-gifo.svg) no-repeat;
  }
  #a-img{
  margin-left: 20px;
  font-size: 28px;
  position: absolute;
  top: 30px;
  color: rgb(111, 0, 255);
  }
}
li{
margin: 20px;
font-size: 13px;
width: 70px;
height: 20px;
}
a{
text-decoration: none;
color: rgb(111, 0, 255);
}
}
#mod::after{
content: "MODO NOCTURNO";
}
.menu-hamburguesa{
display: none;
position: relative;
z-index: 90;
}
.icono-menu{
position: absolute;
left: 80%;
top: -40px;
z-index: 10;
}
.icono-menu img{
vertical-align: top;
width: 30px;
cursor: pointer;
}
.cont-menu{
background-color: rgb(111, 0, 255);
opacity: 0.9;
box-shadow: 2px 0px 5px 2px rgb(66, 66, 66);
width: 100%;
height: 100vh;
position: absolute;
top: -70px;
left: 0;
transition: all .5s ease;
margin-top: 100px;
}
.active{
transform: translate(-600px);
}
.opacity{
transition: all .0s ease;
}
.cont-menu ul{
padding: 100px 0px 20px 0px;
list-style: none;
text-align: center;
margin-top: -25px;
}
.cont-menu ul li{
color: white;
display: block;
font-size: 25px;
text-decoration: none;
padding: 10px 50px;
cursor: pointer;
border-bottom: 1px solid white;
margin: 30px;
  a{
  color: white;
  text-decoration: none;
  }
}
.cont-menu ul li:hover{
background-color: rgb(228, 228, 228);
  a:hover{
  color: black;
  }
}
#cruz:hover{
background: url(../assets/CTA-crear-gifo-hover.svg) no-repeat;
}
#a-img:hover{
color: white;
}
#mod1{
color: #fff;
border-bottom: 1px solid white;
background: rgb(111, 0, 255);
font-size: 22px;
margin-top: 13px;
margin-right: 0px;
cursor: pointer;
height: 30px;
width: 70%;
}
#mod1::before{
content: "MODO NOCTURNO";
}
#mod1:hover{
background-color: white;
color: black;
}
main{
width: 80%;
height: 100%;
display: flex;
padding: 0 80px;
margin-top: 30px;
justify-content: center;
}
.camara-luz{
width: 250px;
height: 300px;
display: flex;
  #camara{
  background: url(../assets/camara.svg) no-repeat;
  margin-top: 60px;
  width: 150px;
  object-fit: cover;
}
#luz{
margin-left: -28px;
background: url(../assets/element-luz-camara.svg) no-repeat;
margin-top: 78px;
width: 50px;
object-fit: cover;
}
}
.cuadrado{
width: 480px;
height: 320px;
border: 2px solid rgb(111, 0, 255);
display: flex;
position: relative;
align-items: center;
box-shadow: 10px 5px 5px rgb(111, 0, 255);
  #titulo{
  width: 300px;
  position: absolute;
  left: 100px;
  text-align: center;
  h2{
  color: rgb(111, 0, 255);
  }
  span{
  color: cyan;
  }
}
}
.grabar{
width: 95%;
height: 150px;
display: flex;
justify-content: center;
position: relative;
#grabando{
display: block;
height: 100px;
align-items: center;
  #cinta{
  display: flex;
  height: 80px;
  position: relative;
  top: 20px;
  left: 450px;
  }
}
.spn{
text-align: center;
display: flex;
margin-top: 50px;
position: absolute;
top: -20px;
left: 480px;
  #sp{
  color: rgb(111, 0, 255);
  margin-left: 50px;
  font-size: 20px;
  border: 2px solid rgb(111, 0, 255);
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  width: 30px;
  line-height: 30px;
  height: 30px;
  }
  .spans{
  background-color: rgb(111, 0, 255);
  color: honeydew !important;
  }
}
#grabacion{
display: none;
position: absolute;
z-index: 1;
}
#gif-iniciado{
display: none;
width: 480px;
height: 320px;
position: absolute;
z-index: 2;
}
}
#cargando-texto{
display: block;
width: 100%;
height: 100%;
align-items: center;
margin-top: 100px;
  #icon-loader{
  width: 30px;
  height: 30px;
  }
  #video-p{
  font-weight: 500;
  font-size:20px;
  line-height: 19px;
  color: white;
  margin: 10px 0;
  }
}
#gif-terminado{
display: none;
width: 480px;
height: 320px;
position: absolute;
z-index: 2;
}
#cargando{
display: none;
width: 100%;
height: 100%;
text-align: center;
background: blue;
opacity: 0.7;
color: wheat;
position: absolute;
z-index: 3;
}
#cargando-video{
display: none;
position: absolute;
top: 12px;
right:15px;
  #btn-descargar{
  position: absolute;
  top: 0;
  right: 40px;
  width: 32px;
  height: 32px;
  border: none;
  margin: 0;
  cursor: pointer;
  }
  #btn-link{
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  border: none;
  margin: 0;
  cursor: pointer;
  }
}
#btn-comenzar{
font-size: 10px;
color: blueviolet;
border: 2px solid blueviolet;
border-radius: 30px;
width: 90px;
height: 40px;
font-weight: bold;
cursor: pointer;
margin-top: 45px;
margin-left: -170px;
}
#btn-comenzar:hover{
background-color: blueviolet;
color: white;
}
#btn-gifo{
display: none;
font-size: 10px;
color: blueviolet;
border: 2px solid blueviolet;
border-radius: 30px;
width: 90px;
height: 40px;
font-weight: bold;
cursor: pointer;
margin-top: 45px;
margin-left: -170px;
}
#btn-gifo:hover{
background-color: blueviolet;
color: white;
}
#btn-grabar{
display: none;
font-size: 10px;
color: blueviolet;
border: 2px solid blueviolet;
border-radius: 30px;
width: 90px;
height: 40px;
font-weight: bold;
cursor: pointer;
margin-top: 45px;
margin-left: -170px;
}
#btn-grabar:hover{
background-color: blueviolet;
color: white;
}
#btn-finalizar{
display: none;
font-size: 10px;
color: blueviolet;
border: 2px solid blueviolet;
border-radius: 30px;
width: 90px;
height: 40px;
font-weight: bold;
cursor: pointer;
margin-top: 45px;
margin-left: -170px;
}
#btn-finalizar:hover{
background-color: blueviolet;
color: white;
}
.contador{
position: absolute;
left: 400px;
  #reloj{
  display: none;
  font-size: 17px;
  line-height: 20px;
  color: rgb(111, 0, 255);
  margin-top: 20px;
  }
  #repetir{
  display: none;
  border: none;
  border-bottom: 2px solid cyan;
  font-size: 12px;
  color: blueviolet;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  }
}
footer{
display: flex;
padding: 10px 120px;
font-size: 12px;
  .contactos{
  display: flex;
  div{
  margin-left: 5px;
  cursor: pointer;
  }
  #twitter{
  margin-top: 12px;
  min-height: 20px;
  min-width: 20px;
  background: url(../assets/icon-twitter.svg) no-repeat;
  }
  #face{
  margin-top: 10px;
  min-height: 20px;
  min-width: 20px;
  background: url(../assets/icon_facebook.svg) no-repeat;
  }
  #inst{
  margin-left: -4px;
  margin-top: 10px;
  min-height: 20px;
  min-width: 20px;
  background: url(../assets/icon_instagram.svg) no-repeat;
  }
}
p{
margin-left: auto;
}
#twitter:hover{
background: url(../assets/icon-twitter-hover.svg) no-repeat;
}
#face:hover{
background: url(../assets/icon_facebook_hover.svg) no-repeat;
}
#inst:hover{
background: url(../assets/icon_instagram-hover.svg) no-repeat;
}
}
@media screen and (max-width:1000px){
  .grabar .spn{
  margin-right: 200px;
  }
  #cinta{
    display: none;
  }
}
@media screen and (max-width:600px){
  body{
  width: 110%;
  border-bottom: none;
  border-top: none;
  }
  header{
  max-width: 70%;
  }
  #logo{
  height: 60px;
  position: relative;
  left: -30px;
  }
  .menu1{
  display: none;
  }
  .menu-hamburguesa{
  display: block;
  }
  #grabando{
    display: none;
    #cinta{
      display: none;
    }
  }
  footer{
  width: 80%;
  padding: 30px;
  }
}