body{
background: #353638  ;
width: 100%;
height: 100%;    
padding: 0;
margin: 0;
box-sizing: border-box;
border-top: 4px solid black ;
border-bottom: 4px solid black;
}
header{
display: flex;
width: 70%;
justify-content: space-between;
margin: auto;
  #logo{    
  background: url(../assets/Logo-modo-noc.svg) no-repeat;
  margin: 20px 0 0 0;
  width: 100%;
  cursor: pointer;
  object-fit: cover;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  ul{
  margin-left: 10%;
  display: flex;
  list-style: none;
  width: 100%;
  height: 50px;
  justify-content: space-between;
    #mod{
    color: #fff;
    border: none;
    background: #353638 ;
    font-size: 12px;
    margin-top: 13px;
    margin-right: 0px;
    cursor: pointer;
    height: 30px;
    width: 200px;
    }
    #cruz{
    width: 70px;
    margin-bottom: -10px;
    margin-left: 30px;
    cursor: pointer;
    background: url(../assets/CTA-crar-gifo-modo-noc.svg) no-repeat;
    object-fit: cover;
    }
  } 
  li{
  margin: 20px;
  font-size: 13px;
  width: 70px;
  height: 20px;
  }
  a{
  text-decoration: none;
  color: #fff;
  }
}
#mod::before{
  content: "MODO DIURNO";
}
.menu-hamburguesa{
display: none;
}
.menu-hamburguesa{
display: none;
}
.icono-menu{
position: absolute;
left: 90%;
top: 40px;
z-index: 10;
}
.icono-menu img{
vertical-align: top;
width: 30px;
cursor: pointer;
}
.cont-menu{
background-color: black;
opacity: 0.9;
box-shadow: 2px 0px 5px 2px rgb(66, 66, 66);
width: 100%;
height: 100vh;
position: absolute;
top: 0;
left: 0;
transition: all .5s ease;
margin-top: 100px;
}
.active{
transform: translate(-600px);
}
.opacity{
transition: all .0s ease;
}
.cont-menu ul{
padding: 100px 0px 20px 0px;
list-style: none;
text-align: center;
margin-top: -25px;
button{
border: none;
font-size: 25px;
background: black;
color: white;
border-bottom: 1px solid white;
width: 87%;
height: 45px;
outline: none;
}
}
.cont-menu ul li{
color: white;
display: block;
font-size: 25px;
text-decoration: none;
padding: 10px 50px;
cursor: pointer;
border-bottom: 1px solid white;
margin: 30px;
  a{
  color: white;
  text-decoration: none;
  }
}
.cont-menu ul li:hover{
background-color: rgb(228, 228, 228);
color: rgb(42, 42, 42);
}
main{
  width: 80%;
  height: 100%;
  display: flex;
  padding: 0 80px;
  margin-top: 30px;
  justify-content: center;
  }
  .camara-luz{
  width: 250px;
  height: 300px;
  display: flex;
    #camara{
    background: url(../assets/camara-modo-noc.svg) no-repeat;
    margin-top: 60px;
    width: 150px;
    object-fit: cover;
  }
  #luz{
  margin-left: -28px;
  background: url(../assets/element-luz-camara.svg) no-repeat;
  margin-top: 78px;
  width: 50px;
  object-fit: cover;
  }
}
.cuadrado{
width: 700px;
height: 300px;
border: 1px solid black;
display: flex;
  #titulo{
  width: 300px;
  margin: auto;
  text-align: center;
    h2{
    color: white;
    }
  }
}
.grabar{
width: 70%;
height: 100px;
display: flex;
justify-content: center;
  .spn{
  text-align: center;
  display: flex;
  margin-top: 50px;
  margin-left: 500px;
    #sp1 , #sp2 , #sp3{
    color: white;
    margin-left: 50px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    width: 30px;
    line-height: 30px;
    height: 30px;
    }
  }
}
#barra{
width: 500px;
height: 15px;
background: white;
margin-left: 35%;
border-radius: 10px;
}
footer{
display: flex;
padding: 10px 120px;
font-size: 12px;
  .contactos{
  display: flex;
    div{
    margin-left: 5px;
    cursor: pointer;
    }
    #twitter{
    margin-top: 12px;
    min-height: 20px;
    min-width: 20px;
    background: url(../assets/icon-twitter.svg) no-repeat;
    }
    #face{
    margin-top: 10px;
    min-height: 20px;
    min-width: 20px;
    background: url(../assets/icon_facebook.svg) no-repeat;
    }
    #inst{
    margin-left: -4px;
    margin-top: 10px;
    min-height: 20px;
    min-width: 20px;
    background: url(../assets/icon_instagram.svg) no-repeat;
    }
  }
  p{
  margin-left: auto;
  }
  #twitter:hover{
  background: url(../assets/icon-twitter-hover.svg) no-repeat;
  }
  #face:hover{
  background: url(../assets/icon_facebook_hover.svg) no-repeat;
  }
  #inst:hover{
  background: url(../assets/icon_instagram-hover.svg) no-repeat;
  }
}
@media screen and (max-width:1000px){
  article .spn{
  margin-right: 150px;
  }
}
@media screen and (max-width:600px){
  body{
  width: 110%;
  border-bottom: none;
  border-top: none;
  }
  header{
  max-width: 70%;
  }
  #logo{
  height: 60px;
  position: relative;
  left: -30px;
  }
  .menu1{
  display: none;
  }
  .menu-hamburguesa{
  display: block;
  }
  footer{
  width: 80%;
  padding: 30px;
  }
}