body{
background: #353638  ;
width: 100%;
height: 100%;    
padding: 0;
margin: 0;
box-sizing: border-box;
border-top: 4px solid black ;
border-bottom: 4px solid black;
overflow-x: hidden;
}
header{
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: auto;
  #logo{    
  background: url(../assets/Logo-modo-noc.svg) no-repeat;
  margin: 20px 0 0 0;
  width: 100%;
  cursor: pointer;
  object-fit: cover;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  ul{
  margin-left: 10%;
  display: flex;
  list-style: none;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  #mod{
  color: #fff;
  border: none;
  background: #353638 ;
  font-size: 13px;
  margin-top: 20px;
  margin-right: -40px;
  cursor: pointer;
  height: 30px;
  width: 200px;
  }
  #cruz{
  width: 70px;
  height: 60px;
  margin-top: 0px;
  margin-left: 10px;
  cursor: pointer;
  background: url(../assets/CTA-crar-gifo-modo-noc.svg) no-repeat;
  }
  #a-img{
  margin-left: 20px;
  font-size: 28px;
  position: absolute;
  top: 30px;
  color: black;
  }
}
li{
margin: 20px;
font-size: 13px;
width: 70px;
height: 20px;
}
a{
text-decoration: none;
color: #fff;
}
}
#mod::before{
content: "MODO DIURNO";
}
.menu-hamburguesa{
display: none;
position: relative;
z-index: 90;
}
.icono-menu{
position: absolute;
left: 80%;
top: -40px;
z-index: 10;
}
.icono-menu img{
vertical-align: top;
width: 30px;
cursor: pointer;
}
.cont-menu{
background-color: black;
opacity: 0.9;
box-shadow: 2px 0px 5px 2px rgb(66, 66, 66);
width: 100%;
height: 100vh;
position: absolute;
top: -70px;
left: 0;
transition: all .5s ease;
margin-top: 100px;
}
.active{
transform: translate(-600px);
}
.opacity{
transition: all .0s ease;
}
.cont-menu ul{
padding: 100px 0px 20px 0px;
list-style: none;
text-align: center;
margin-top: -25px;
}
.cont-menu ul li{
color: white;
display: block;
font-size: 25px;
text-decoration: none;
padding: 10px 50px;
cursor: pointer;
border-bottom: 1px solid white;
margin: 30px;
  a{
  color: white;
  text-decoration: none;
  }
}
.cont-menu ul li:hover{
background-color: rgb(228, 228, 228);
color: black;
  a:hover{
  color: black;
}
}
#mod1{
color: #fff;
border-bottom: 1px solid white;
background: black;
font-size: 22px;
margin-top: 13px;
margin-right: 0px;
cursor: pointer;
height: 30px;
width: 68%;
}
#mod1::before{
content: "MODO DIURNO";
}
#mod1:hover{
background-color: white;
color: black;
}
.galeria-gifos{
max-width: 100%;
height: 100%;
text-align: center;
  .titulo-gifos{
  margin-top: 30px;
  color: cyan;
  h2{
  font-size: 30px;
  margin-top: -5px;
  }
}
.contenido{
margin-top: 100px;
display: none;
}
h3{
max-width: 550px;
font-size: 30px;
margin: auto;
color: white;
}
}
.resultados-misgifos{
width: 100%;
height: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.resultados-gifos{
width: 300px;
height: 200px;
margin: 15px;
position: relative;
box-shadow: 10px 5px 5px cyan;
border: 2px solid white;
}
.box-mis-gifos{
display: block;
margin: 30px;
object-fit: cover;
position: absolute;
z-index: 10;
height: 100px;
}
.card-gifos{
display: flex;
position: absolute;
width: 100%;
  #max{
  cursor: pointer; 
  border: none;
  position: absolute;
  left: 180px;
  top: -20px;
  width: 25px;
  height: 25px;
  }
  #dow{
  cursor: pointer; 
  border: none;
  position: absolute;
  left: 220px;
  top: -20px;
  width: 25px;
  height: 25px;
  left: 140px;
  }
  .borrar{
  cursor: pointer; 
  position: absolute;
  left: 220px;
  top: -20px;
  width: 25px;
  height: 25px;
  }
}
.texto-mis-gifos{
color: blue;
position: absolute;
left: 0px;
top: 80px;
width: 150px;
}
.resultados-gif{
width: 300px;
height: 200px;
object-fit: cover;
}
article{
text-align: center;
background: #202021 ;
color: white;
  h2{
  color: white;
  }
  .container-box{
  display: flex;
  }
  figure{
  position: relative;
  top: 60px;
  height: 35px;
  #right-arrow , #left-arrow{
  height: 35px;
  background: white;
  }
}
#right-arrow:hover{
background: cyan;
height: 35px;
opacity: 0.7;
} 
#left-arrow:hover{
background: cyan;
height: 35px;
opacity: 0.7;
}
}
#trending-container{
display: flex;
width: 75%;
height: 300px;
overflow-x: hidden;
overflow-y: hidden;
  .trending-box{
  width: 300px;
  height: 200px;
  margin-left: 10px;
  position: relative;
  box-shadow: 10px 5px 5px cyan;
  border: 2px solid white;
  .trending-gif{
  width: 250px;
  height: 200px;
  object-fit: cover;
  }
}
.card2{
display: block;
margin: 30px;
object-fit: cover;
position: absolute;
z-index: 10;
height: 100px;
  #max-trending{
  cursor: pointer; 
  left: 180px;
  top: -30px;
  width: 30px;
  height: 35px;
  position: absolute;
  }
  .icon-fav-trending{
  cursor: pointer; 
  width: 30px;
  height: 35px;
  position: absolute;
  left: 100px;
  top: -30px;
  }
  #dow-trending{
  cursor: pointer; 
  left: 140px;
  top: -30px;
  width: 30px;
  height: 35px;
  position: absolute;
  }
}
#titulo-gif{
position: absolute;
color: #fff;
width: 150px;
font-size: 15px;
top: 120px;
left: 10px;
}
}
.modal-activo{
  position: fixed;
  padding: 0 20px;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background: #353638;
  .modal-close{
  background-color: unset;
  border: 0;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50px;
  right: 100px;
  cursor: pointer;
  }
  .modal-gif{
  width: 80%;
  margin-top: 160px;
  margin-left: 30px;
  }
  .modal-bar{
  display: flex;
  justify-content: space-between;
  margin: 27px auto;
  position: relative;
  .modal-texto{
  max-width: 80%;
  .modal-titulo{
  text-align: left;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  margin-top: 6px;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  }
}
.btn-modal{
display: flex;
border: none;
cursor: pointer;
width: 36px;
height: 36px;
margin-right: 50px;
}
}
}
footer{
display: flex;
padding: 10px 120px;
font-size: 12px;
color: #fff;
background: #353638;
width: 80%;
margin: auto;
  .contactos{
  display: flex;
  margin-left: 5%;
  div{
  margin-left: 5px;
  cursor: pointer;
  }
  #twitter{
  margin-top: 12px;
  min-height: 20px;
  min-width: 20px;
  background: url(../assets/icon-twitter.svg) no-repeat;
  }
  #face{
  margin-top: 10px;
  min-height: 20px;
  min-width: 20px;
  background: url(../assets/icon_facebook.svg) no-repeat;
  }
  #inst{
  margin-left: -4px;
  margin-top: 10px;
  min-height: 20px;
  min-width: 20px;
  background: url(../assets/icon_instagram.svg) no-repeat;
  }
}
p{
margin-left: auto;
}
#twitter:hover{
background: url(../assets/icon-twitter-hover.svg) no-repeat;
}
#face:hover{
background: url(../assets/icon_facebook_hover.svg) no-repeat;
}
#inst:hover{
background: url(../assets/icon_instagram-hover.svg) no-repeat;
}
}
@media screen and (max-width:600px){
  body{
  width: 110%;
  border-bottom: none;
  border-top: none;
  }
  header{
  max-width: 70%;
  }
  #logo{
  height: 60px;
  position: relative;
  left: -30px;
  }
  .menu1{
  display: none;
  }
  .menu-hamburguesa{
  display: block;
  }
  figure{
  display: none;
  }
  footer{
  width: 80%;
  padding: 30px;
  }
}