body {
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 4px solid #6f00ff;
  border-bottom: 4px solid #6f00ff;
  overflow-x: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

header #logo {
  background: url(../assets/logo-desktop.svg) no-repeat;
  margin: 20px 0 0 0;
  width: 100%;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header ul {
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
  height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header ul #mod {
  color: #6f00ff;
  border: none;
  background: #fff;
  font-size: 12px;
  margin-top: 13px;
  margin-right: 0px;
  cursor: pointer;
  height: 30px;
  width: 200px;
}

header ul #cruz {
  width: 70px;
  margin-bottom: -10px;
  margin-left: 30px;
  cursor: pointer;
  background: url(../assets/button-crear-gifo.svg) no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

header li {
  margin: 20px;
  font-size: 13px;
  width: 70px;
  height: 20px;
}

header a {
  text-decoration: none;
  color: #6f00ff;
}

#mod::after {
  content: "MODO NOCTURNO";
}

.menu-hamburguesa {
  display: none;
}

.icono-menu {
  position: absolute;
  left: 90%;
  top: 40px;
  z-index: 10;
}

.icono-menu img {
  vertical-align: top;
  width: 30px;
  cursor: pointer;
}

.cont-menu {
  background-color: #6f00ff;
  opacity: 0.9;
  -webkit-box-shadow: 2px 0px 5px 2px #424242;
          box-shadow: 2px 0px 5px 2px #424242;
  width: 500px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  margin-top: 100px;
}

.active {
  -webkit-transform: translate(-600px);
          transform: translate(-600px);
}

.opacity {
  -webkit-transition: all .0s ease;
  transition: all .0s ease;
}

.cont-menu ul {
  padding: 100px 0px 20px 0px;
  list-style: none;
  text-align: center;
  margin-top: -25px;
}

.cont-menu ul button {
  border: none;
  font-size: 25px;
  background: #6f00ff;
  color: white;
  border-bottom: 1px solid white;
  width: 87%;
  height: 45px;
  outline: none;
}

.cont-menu ul li {
  color: white;
  display: block;
  font-size: 25px;
  text-decoration: none;
  padding: 10px 50px;
  cursor: pointer;
  border-bottom: 1px solid white;
  margin: 30px;
}

.cont-menu ul li a {
  color: white;
  text-decoration: none;
}

.cont-menu ul li:hover {
  background-color: #e4e4e4;
  color: #2a2a2a;
}

main {
  width: 100%;
  height: 100%;
  text-align: center;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main h1 {
  margin: 50px auto;
  width: 400px;
  color: #6f00ff;
}

main span {
  color: cyan;
}

main img {
  margin: 0  auto;
  height: 160px;
}

main .gifs {
  height: 100%;
  width: 100%;
}

main .busqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  margin: 0 auto;
  margin-top: -4px;
  border: 1px solid blue;
  border-radius: 30px;
}

main .busqueda #btn {
  width: 20px;
  margin-right: 20px;
  cursor: pointer;
}

main .busqueda #search {
  margin: auto;
  width: 70%;
  height: 5px;
  border-radius: 30px;
  border: none;
  padding: 20px;
  display: block;
}

main .busqueda #search:focus {
  outline: none;
}

main #gifs {
  width: 90%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

main .gifos {
  width: 200px;
  margin: 20px;
  border: 1px solid black;
}

main .gifos img {
  width: 200px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

main h4 {
  margin-top: 100px;
  color: #6f00ff;
}

main p {
  color: #6f00ff;
  margin-top: -15px;
}

article {
  margin-top: 100px;
  text-align: center;
}

article h2 {
  color: #6f00ff;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 120px;
  font-size: 12px;
  width: 80%;
  margin: auto;
}

footer .contactos {
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .contactos div {
  margin-left: 5px;
  cursor: pointer;
}

footer .contactos #twitter {
  margin-top: 12px;
  min-height: 20px;
  min-width: 20px;
  background: url(../assets/icon-twitter.svg) no-repeat;
}

footer .contactos #face {
  margin-top: 10px;
  min-height: 20px;
  min-width: 20px;
  background: url(../assets/icon_facebook.svg) no-repeat;
}

footer .contactos #inst {
  margin-left: -4px;
  margin-top: 10px;
  min-height: 20px;
  min-width: 20px;
  background: url(../assets/icon_instagram.svg) no-repeat;
}

footer p {
  margin-left: auto;
}

footer #twitter:hover {
  background: url(../assets/icon-twitter-hover.svg) no-repeat;
}

footer #face:hover {
  background: url(../assets/icon_facebook_hover.svg) no-repeat;
}

footer #inst:hover {
  background: url(../assets/icon_instagram-hover.svg) no-repeat;
}

@media screen and (max-width: 600px) {
  body {
    width: 110%;
    border-bottom: none;
    border-top: none;
    overflow-x: hidden;
  }
  header {
    max-width: 70%;
  }
  #logo {
    height: 60px;
    position: relative;
    left: -30px;
  }
  .menu1 {
    display: none;
  }
  .menu-hamburguesa {
    display: block;
  }
  footer {
    width: 80%;
    padding: 30px;
  }
}
/*# sourceMappingURL=style.css.map */