body {
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 4px solid #6f00ff;
  border-bottom: 4px solid #6f00ff;
  overflow-x: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

header #logo {
  background: url(../assets/logo-desktop.svg) no-repeat;
  margin: 20px 0 0 0;
  width: 100%;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header ul {
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
  height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header ul #mod {
  color: #6f00ff;
  border: none;
  background: #fff;
  font-size: 13px;
  margin-top: 20px;
  margin-right: -40px;
  cursor: pointer;
  height: 30px;
  width: 200px;
}

header ul #cruz {
  width: 70px;
  height: 60px;
  margin-top: 0px;
  margin-left: 10px;
  cursor: pointer;
  background: url(../assets/button-crear-gifo.svg) no-repeat;
}

header ul #a-img {
  margin-left: 20px;
  font-size: 28px;
  position: absolute;
  top: 30px;
  color: #6f00ff;
}

header li {
  margin: 20px;
  font-size: 13px;
  width: 70px;
  height: 20px;
}

header a {
  text-decoration: none;
  color: #6f00ff;
}

#mod::after {
  content: "MODO NOCTURNO";
}

.menu-hamburguesa {
  display: none;
  position: relative;
  z-index: 90;
}

.icono-menu {
  position: absolute;
  left: 80%;
  top: -40px;
  z-index: 10;
}

.icono-menu img {
  vertical-align: top;
  width: 30px;
  cursor: pointer;
}

.cont-menu {
  background-color: #6f00ff;
  opacity: 0.9;
  -webkit-box-shadow: 2px 0px 5px 2px #424242;
          box-shadow: 2px 0px 5px 2px #424242;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: -70px;
  left: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  margin-top: 100px;
}

.active {
  -webkit-transform: translate(-600px);
          transform: translate(-600px);
}

.opacity {
  -webkit-transition: all .0s ease;
  transition: all .0s ease;
}

.cont-menu ul {
  padding: 100px 0px 20px 0px;
  list-style: none;
  text-align: center;
  margin-top: -25px;
}

.cont-menu ul li {
  color: white;
  display: block;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  padding: 10px 50px;
  cursor: pointer;
  border-bottom: 1px solid white;
  margin: 30px;
}

.cont-menu ul li a {
  color: white;
  text-decoration: none;
}

.cont-menu ul li:hover {
  background-color: #e4e4e4;
}

.cont-menu ul li:hover a:hover {
  color: black;
}

#cruz:hover {
  background: url(../assets/CTA-crear-gifo-hover.svg) no-repeat;
}

#a-img:hover {
  color: white;
}

#mod1 {
  color: #fff;
  border-bottom: 1px solid white;
  background: #6f00ff;
  font-size: 22px;
  margin-top: 13px;
  margin-right: 0px;
  cursor: pointer;
  height: 30px;
  width: 66%;
}

#mod1::before {
  content: "MODO NOCTURNO";
}

#mod1:hover {
  background-color: white;
  color: black;
}

main {
  width: 100%;
  height: 100%;
  text-align: center;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main h1 {
  margin: 50px auto;
  width: 400px;
  color: #6f00ff;
}

main span {
  color: cyan;
}

main img {
  margin: 0  auto;
  height: 160px;
}

main .busqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 50px;
  margin: 0 auto;
  margin-top: -4px;
  border: 1px solid #6f00ff;
  border-radius: 30px;
}

main .busqueda #btn {
  width: 20px;
  height: 20px;
  margin-right: -20px;
  cursor: pointer;
}

main .busqueda #search {
  margin: auto;
  width: 70%;
  height: 5px;
  border-radius: 30px;
  border: none;
  padding: 20px;
  display: block;
}

main .busqueda #search:focus {
  outline: none;
}

main .buscando {
  display: block;
  width: 400px;
  height: 300px;
  border-radius: 20px;
  border: 1px solid #6f00ff;
  margin: auto;
  margin-top: -4px;
}

main .buscando input {
  width: 320px;
  height: 20px;
  margin-top: 20px;
  margin-left: 30px;
  border: none;
}

main .buscando .barra-desp {
  margin-top: 10px;
  border-top: 1px solid black;
  width: 380px;
  height: 200px;
  padding: 10px;
}

main .buscando .barra-desp .options {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  margin-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .buscando .barra-desp .options .lupa {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

main .buscando .barra-desp .options .option-p {
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
}

main #cerrar {
  display: none;
  border: none;
  position: relative;
}

main #cerrar img {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 365px;
  top: -20px;
}

main #titulo-gifs {
  font-size: 50px;
  color: #6f00ff;
  text-transform: uppercase;
}

main #ver-mas {
  display: none;
}

main #container-gifs {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

main #gifs {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

main #container-gifos {
  width: 250px;
  height: 200px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #container-gifos img {
  width: 200px;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
}

main #ver-mas {
  width: 100px;
  height: 50px;
  background: blueviolet;
  margin: auto;
  border: none;
  border-radius: 30px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

main #ver-mas:hover {
  background: cornflowerblue;
  color: black;
}

main .container-cards {
  width: 250px;
  height: 200px;
  border: 2px solid black;
  -webkit-box-shadow: 10px 5px 5px #6f00ff;
          box-shadow: 10px 5px 5px #6f00ff;
  position: relative;
  margin: 20px;
}

main .container-cards .res-gif {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

main .card1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
}

main #max {
  cursor: pointer;
  border: none;
  position: absolute;
  left: 180px;
  top: 5px;
  width: 25px;
  height: 25px;
}

main .fav {
  cursor: pointer;
  position: absolute;
  left: 220px;
  top: 5px;
  width: 25px;
  height: 25px;
}

main #dow {
  cursor: pointer;
  border: none;
  position: absolute;
  left: 220px;
  top: 5px;
  width: 25px;
  height: 25px;
  left: 140px;
}

main #titulo-gif-res {
  color: red;
  z-index: 10;
  position: absolute;
  left: 10px;
  top: 140px;
}

main h4 {
  margin-top: 10px;
  color: #6f00ff;
}

main #trending-text {
  color: #6f00ff;
  margin-top: -15px;
}

main #trending-text .trending-span {
  color: #6f00ff;
  cursor: pointer;
}

article {
  text-align: center;
}

article h2 {
  color: #6f00ff;
}

article .container-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

article figure {
  position: relative;
  top: 60px;
  height: 35px;
}

article figure #right-arrow, article figure #left-arrow {
  height: 35px;
}

article figure:hover {
  background: #6f00ff;
  height: 35px;
  opacity: 0.7;
}

#trending-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  height: 300px;
  overflow-x: hidden;
  overflow-y: hidden;
}

#trending-container .trending-box {
  width: 300px;
  height: 200px;
  margin-left: 10px;
  position: relative;
  -webkit-box-shadow: 10px 5px 5px #6f00ff;
          box-shadow: 10px 5px 5px #6f00ff;
  border: 2px solid black;
}

#trending-container .trending-box .trending-gif {
  width: 250px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

#trending-container .card2 {
  display: block;
  margin: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  height: 100px;
}

#trending-container .card2 #max-trending {
  cursor: pointer;
  left: 180px;
  top: -30px;
  width: 30px;
  height: 35px;
  position: absolute;
}

#trending-container .card2 .icon-fav-trending {
  cursor: pointer;
  width: 30px;
  height: 35px;
  position: absolute;
  left: 100px;
  top: -30px;
}

#trending-container .card2 #dow-trending {
  cursor: pointer;
  left: 140px;
  top: -30px;
  width: 30px;
  height: 35px;
  position: absolute;
}

#trending-container #titulo-gif {
  position: absolute;
  color: #fff;
  width: 150px;
  font-size: 15px;
  top: 120px;
  left: 10px;
}

.modal-activo {
  position: fixed;
  padding: 0 20px;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background-color: #fff;
}

.modal-activo .modal-close {
  background-color: unset;
  border: 0;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50px;
  right: 100px;
  cursor: pointer;
}

.modal-activo .modal-gif {
  width: 80%;
  margin-top: 160px;
  margin-left: 30px;
}

.modal-activo .modal-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 27px auto;
  position: relative;
}

.modal-activo .modal-bar .modal-texto {
  max-width: 80%;
}

.modal-activo .modal-bar .modal-texto .modal-user {
  text-align: left;
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
  margin: 0;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.modal-activo .modal-bar .modal-texto .modal-titulo {
  text-align: left;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  margin-top: 6px;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.modal-activo .modal-bar .btn-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: unset;
  border: none;
  cursor: pointer;
  width: 36px;
  height: 36px;
  margin-right: 50px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 120px;
  font-size: 12px;
  width: 80%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .contactos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  margin-right: 30%;
}

footer .contactos #twitter {
  margin-top: 12px;
  min-height: 20px;
  min-width: 20px;
  background: url(../assets/icon-twitter.svg) no-repeat;
}

footer .contactos #face {
  margin-top: 10px;
  min-height: 20px;
  min-width: 20px;
  background: url(../assets/icon_facebook.svg) no-repeat;
}

footer .contactos #inst {
  margin-left: -4px;
  margin-top: 10px;
  min-height: 20px;
  min-width: 20px;
  background: url(../assets/icon_instagram.svg) no-repeat;
}

footer #twitter:hover {
  background: url(../assets/icon-twitter-hover.svg) no-repeat;
}

footer #face:hover {
  background: url(../assets/icon_facebook_hover.svg) no-repeat;
}

footer #inst:hover {
  background: url(../assets/icon_instagram-hover.svg) no-repeat;
}

@media screen and (max-width: 600px) {
  body {
    width: 110%;
    border-bottom: none;
    border-top: none;
  }
  header {
    max-width: 70%;
  }
  #logo {
    height: 60px;
    position: relative;
    left: -30px;
  }
  .menu1 {
    display: none;
  }
  .menu-hamburguesa {
    display: block;
  }
  footer {
    width: 80%;
    padding: 30px;
  }
}
/*# sourceMappingURL=style.css.map */